html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

figure{
    border: 3px solid gray;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
  }


img{
    width: 100%;
    height: 60vh;
}

figcaption{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    gap: 10px;
    justify-items: center;
}

figcaption{
    height: 6vh;
}

@media screen and (min-width: 772px){
    .grid{
        grid-template-columns: auto auto;
    }
    figure{
        border-radius: 50%;
    }
    .grid> figure:last-child{
        grid-column: span 2;
        
    }
}

@media screen and (min-width: 992px){
    figure{
        border-radius: 0;
    }
    
    .grid> figure:nth-child(3n+1){
        grid-column: span 2;
    }
    .grid> figure:last-child{
        grid-column: unset;
        
    }
}

@media (prefers-reduced-motion) {
    html{
        scroll-behavior: unset;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #3a3a3a;
    }
    h1, p, a{
        color: white;
    }

    figure{
        background: black;
        border-color: black;
    }
    figcaption{
        color:#fff385;
    }
  }

